# Introduction

This notebook introduces __abstraction__ of __formula__ or __expressions__ as __functions__ through exercises that extend familiar operations with a calculator, and the introduction of __named values__ and __types__. We will try to get a feel for abstraction through a somewhat contrived example. Consider buying 9 items at 10 pence each. What is the total cost?

__First Step__

In [1]:
10*9

90

Here, we are carrying out the __concrete operation__ of _multiplication_ on the __concrete values__ 10 and 9. Now consider buying 11 items at 10 pence each. The total cost is

In [2]:
10*11

110

__Second Step__

Here we have carried out _multiplication_ on the concrete values 10 and 11. We can see that as the number of items changes so the formula for the total cost changes at the place where the number of items appears. We can **abstract over** the number of items in the formula by introducing a __name__ to stand for a general number of items, say **items**

    10 * items

We might make this abstraction explicit by preceding the formula with the name used for abstraction

    replace items in 10 * items

Here, we have __abstracted over an operand in the formula__. To _evaluate_ this abstraction we need to supply a _value_ for the name. For example 84 items:

In [3]:
let items = 84 in 10 * items

840

__Third Step__

We have made a **function** from the formula by replacing an object (11) with a name (items) and identifying (let..) the name that we have used. We have then **evaluated** the function by replacing the name in the formula with a new object (84) and evaluating the resulting formula.

Let us use abstraction again to generalise our example further. Suppose the cost of items goes up to 11 pence. Now the total cost of items is

    replace items in 11 * items

Suppose the cost of items drops to 9 pence. Now the total cost of items is

    replace items in 9 * items

Because of the cost changes, we could also introduce a name to stand for the cost in general, say **cost**

    replace cost in
      replace items in cost*items

Here we have __abstracted over two operands in the formula__. To evaluate the abstraction, we need to supply two values. For example, 12 items at 32 pence will have total cost

In [4]:
let cost = 32 in 
    let items = 12 in cost*items

384

which is

In [5]:
let items = 12 in 32 * items

384

which is

In [6]:
32*12

384

For example, 25 items at 15 pence will have total cost:

In [7]:
let cost = 15 in 
    let items = 25 in cost*items

375

which is

In [8]:
let items = 25 in 15*items

375

which is

In [9]:
15*25

375

__Fourth Step__

Suppose now we want to solve a different problem. We are given the total cost and the number of items and we want to find out how much each item costs. For example, if 12 items cost 144 pence, then each one costs

In [10]:
144 / 12

12.0

If 15 items cost 45 cents then each item costs

In [11]:
45/15

3.0

In general, if items cost **cost** pennies each then each item costs

    replace cost in
      replace items in cost / items

Now compare this with the formula for finding a total cost

    replace cost in
      replace items in cost * items

They are the same except for the operation '/' in finding the cost of each item and '*' in finding the cost of all the items. We have two **instances** of a problem involving the application of an operation to two operands. 

We could generalise these instances by introducing a name, say **op** where the operation is used.

    replace op in 
      replace cost in
        replace items in cost op items

Finding the total will now require the replacement of the operation name with the concrete operation name:

In [12]:
let op = (*) in 
    let cost = 15 in
       let items = 25 in op cost items

375

In [13]:
let op = (/) in 
    let cost = 144 in
       let items = 12 in op cost items

12.0

Note that Haskell allows two equivalent forms for application of the binary operations * (/). As an __infix__ operator a * b, and as __function application__ (*) a b. They have the same result.

Care must be taken with generalisation and specialisation to ensure that names are replaced by objects and operations of appropriate __types__. In the above examples, the operand names must be replaced by numbers and the operator name must be replaced by an operation with two number arguments.

From Greg Michaelson (1989), An introduction to functional programming through the lambda calculus p16-19 and and Sociality Mathematics CIC (2025), licence CC BY-NC-ND Attribution-NonCommercial-NoDerivs https://creativecommons.org/licenses/